<div>
    <div class="centered-content">
        <table class="settings-table">
            <tr>
                <td>
                    <span>Кадры в секунду:</span>
                </td>
                <td>
                    <input type="text" ng-model="speed">
                </td>
            </tr>

            <tr>
                <td>
                    <span>Адрес:</span>
                </td>
                <td>
                    <input type="text" ng-model="url">
                </td>
            </tr>
        </table>
    </div>
    <div class="centered-content">
        <img alt="" id="screen" class="main-content-image" />
    </div>
</div>
